.login-card {
  max-width: 350px;
  padding: 20px;
}
#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-card {
  .form-element {
    width: 100%;
  }
  mat-card-title {
    text-align: center;
    padding-bottom: 15px;
    color: #673ab7;
  }
}
