.loading-screen-wrapper {
  z-index: 100000;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  display: block;
}

.loading-screen-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pace .pace-activity {
      top: 19px;
      right: 19px;
      display: none;
    }
    .page-loading {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
      background: rgba(51, 51, 51, 1.00);
      opacity: 0;
      transition: opacity 1s ease-in-out;
      z-index: -1;
    }
    .loading-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 38px;
      height: 38px;
      margin-left: -19px;
      margin-top: -19px;
    }
    app-root:empty ~ .page-loading {
      opacity: 1;
      z-index: 1;
    }